/* -----------------------------------------
	1.0. Bower - Susy
----------------------------------------- */
/* -----------------------------------------
	2.0. Bower - Breakpoint
----------------------------------------- */
/* -----------------------------------------
	3.0. Bower - Modular Scale
----------------------------------------- */
/* -----------------------------------------
	4.0. Modules
		- Mixins
		- Var
----------------------------------------- */
/* -----------------------------------------
	5.0. Base
		- helpers
		- reset
----------------------------------------- */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.6;
  background-color: #2e3037; }

html, body {
  height: 100%;
  min-height: 100%; }

img, object, embed {
  height: auto;
  max-width: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -----------------------------------------
	6.0. Global
----------------------------------------- */
body {
  background: blue; }

/* -----------------------------------------
	7.0. Components
		- grid
		- 
----------------------------------------- */
/* ---------------------------------------------- *
  Partial: grid

  We're using Susy. Please visit http://susy.readthedocs.org/en/latest/install/

  Due to using Susy, we're going to need the Ruby gems installed. Please a see a guide here: [TBD].

  Usage
  =====

\* ---------------------------------------------- */
/* ---------------------------------------------- *  1.0 Global defaults
\* ---------------------------------------------- */
/* ---------------------------------------------- *  1.0 Grid makeup
\* ---------------------------------------------- */
.contain {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto; }
  .contain:after {
    content: " ";
    display: block;
    clear: both; }
  .contain--table {
    display: table;
    width: 100%;
    max-width: 768px;
    margin: 0 auto; }
